/*

!/.gitignore

!/.github

!/src
/src/*

!/src/step4_G1/
/src/step4_G1/*
!/src/step4_G1/*.java
!/src/step4_G1/README.md

!/src/step5_G2/
/src/step5_G2/*
!/src/step5_G2/*.java
!/src/step5_G2/README.md

!/src/step6_G3/
/src/step6_G3/*
!/src/step6_G3/*.java

!/src/step6_G3C/
/src/step6_G3C/*
!/src/step6_G3C/*.java
